.container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  .header {
    display: flex;
    height: 5.5rem;
    flex-direction: row;
    width: 100%;
    gap: 24rem;
    justify-content: space-around;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
    .headerRight {
      display: flex;
      flex-direction: row;
      gap: 4rem;
    }
    .headerLeft {
      display: flex;
      padding: 0 24px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      align-self: stretch;
      border-radius: 8px;
      background: rgba(164, 66, 241, 0.1);
      a {
        display: flex;
        padding: 21px 24px;
        gap: 4px;
        border-radius: 8px;
        background: rgba(164, 66, 241, 0.1);
        justify-content: center;
        align-items: center;
      }
    }
  }
  .button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 8px;
    border: none;
    color: white;
    background: var(--Principal, #a442f1);
    text-align: center;
    font-variant-numeric: slashed-zero;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
  }
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10rem;
    width: 580px;
    padding: 32px;
    border-radius: 30px;
    font-weight: 400;
    border-radius: 12px;
    background: var(--White, #fff);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.12);
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      .twoForm {
        display: flex;
        flex-direction: row;
        width: 80%;
      }
      .group {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        input {
          border-radius: 8px;
          border: 1px solid var(--Grey-3, #e1e1e1);
          background: var(--White, #fff);
          display: flex;
          padding: 12px 8px 12px 12px;
          align-items: center;
          gap: 8px;
          align-self: stretch;
        }
        .innerInput {
          z-index: 0;
        }
        .image {
          transform: translateX(-135%);
          z-index: 1;
          cursor: pointer;
        }
      }
    }
  }
  .cardContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: flex-start;
    margin-top: 5rem;
    min-height: 69vh;
    .cardTop {
      display: flex;
      justify-content: flex-start;
    }
    .cardBottom {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      .reserva {
        display: flex;
        width: 679px;
        height: 362px;
        padding: 32px 53px;
        flex-direction: column;
        align-items: flex-start;
        flex-shrink: 0;
        .circulo {
          display: flex;
          width: 32px;
          height: 32px;
          padding: 6px 8px;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          color: #fff;
          background: var(--Principal, #a442f1);
        }
        .pVioleta {
          height: 2px;
          flex: 1 0 0;
          border-radius: 8px;
          background: var(--Principal, #a442f1);
        }
        .circuloVerde {
          display: flex;
          width: 32px;
          height: 32px;
          padding: 6px 8px;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          color: #fff;
          background: var(--Principal, #00a541);
        }
        .pVerde {
          height: 2px;
          flex: 1 0 0;
          border-radius: 8px;
          background: var(--Principal, #00a541);
        }
        .circuloGris {
          display: flex;
          width: 32px;
          height: 32px;
          padding: 6px 8px;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          color: #fff;
          background: var(--Principal, #c8c8c8);
        }
        .pGris {
          height: 2px;
          flex: 1 0 0;
          border-radius: 8px;
          background: var(--Principal, #c8c8c8);
        }
        .dropdown {
          display: flex;
          padding: 12px 8px 12px 12px;
          align-items: center;
          gap: 8px;
          align-self: stretch;
          border-radius: 8px;
          border: 1px solid var(--Grey-3, #c6c6c6);
          background: var(--White, #fff);
        }
      }
      .calendario {
        display: flex;
        border-radius: 30px;
        border: 1px solid #a442f1;
        width: 457px;
        padding: 32px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
    }
  }
  h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 25px;
  }
  h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 15px;
    font-weight: 400;
  }
  h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 15px;
  }
  h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 12px;
    color: #a442f1;
  }
}
